@import url('https://fonts.googleapis.com/css?family=Inconsolata|IBM+Plex+Mono|Cutive+Mono');

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.App {
  font-family: 'IBM Plex Mono', 'Cutive Mono', 'Inconsolata', monospace;
  padding: 0;
  font-size: 14px;
}

.modulesContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 450px;
  align-content: flex-start;
  margin-left: 1rem;
}

.module {
  margin: 0.3em;
  padding: 0.5rem 0.8rem;
  width: 30%;
  border: 1px solid black;
}

#header {
  background-color: rgb(58, 58, 58);
  color: white;
  margin: 0;
  padding: 1rem 1rem 0.5rem 1rem;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.2em;
}

p {
  padding: 0;
  margin: 0;
}

.btn-bar {
  margin-left: 1.2rem;
  margin-top: 1rem;
}

button {
  margin: 0.2em 0.2em 0.2em 0;
  font-family: 'IBM Plex Mono', 'Cutive Mono', 'Inconsolata', monospace;
}

.buttonLeft {
  margin-right: 0;
  margin-left: 2rem;
}

.buttonRight {
  margin-left: 0.5rem;
}

.warning {
  color: red;
}

@keyframes myAnim {
  0% { opacity: 0;}
  20% {opacity: 1;}
  40% { opacity: 0;}
  60% { opacity: 1;}
  80% { opacity: 0;}
  100% { opacity: 1;}
}

.animated {
  animation-name: myAnim;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

.myT-enter {
  opacity: 0;
}

.myT-enter-active {
  opacity: 1;
  animation: myAnim 500ms;
}

