@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.App {
  font-family: 'Inconsolata', monospace;
  margin-left: 2em;
  padding: 0;
  font-size: 14px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.2em;
}

p {
  padding: 0;
  margin: 0;
}

button {
  margin: 0.2em 0.2em 0.2em 0;
  font-family: 'Inconsolata', monospace;
}

.buttonLeft {
  margin-right: 0px;
}

.buttonRight {
  margin-left: 0px;
}

.warning {
  color: red;
}

.module {
  margin: 1em 0;
  padding: 0.5em;
  width: 30%;
  border: 1px solid black;
}

